<%= form_with(model: problem, local: true) do |form| %>
  <% if problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.text_field :name,  class: "form-control", placeholder:"Name" %>
  </div>

  <div class="form-group">
    <%= form.text_field :from,  class: "form-control", placeholder:"From (eg: Project Euler)"%>
  </div>

  <div class="form-group">
    <%= form.text_area :description,  class: "form-control", placeholder:"Description", rows: "7" %>
  </div>

  <div class="form-group">
    <%= form.text_area :code,  class: "form-control", placeholder:"Insert Code Here", rows: "17" %>
  </div>

  <div class="form-group">
    <%= form.select(:language_id, options_from_collection_for_select(Language.all.order(:name), :id, :name), {}, {class: "form-control"}) %>
  </div>

  <div class="actions">
    <%= form.submit "Add Problem", class: "btn btn-orange border-none btn-rounded-corner width-70" %>
  </div>
<% end %>
