<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>
      <th scope="col">Language</th>
      <%= '<th scope="col"></th>'.html_safe if logged_in?(:admin) %>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @problems.each do |problem| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= link_to problem.name, problem %></td>
        <td><%= problem.from %></td>
        <td><%= problem.language.name %></td>
        <td><%= link_to '<i class="ion-close"></i>'.html_safe, problem, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:admin)%></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
</table>

