<div class="container padding-top-bottom-60">

	<p id="notice"><%= notice %></p>

	 <h3 class="center"><%= @problem.name %></h3>

	<p>
	  <h5><%= @problem.from %></h5>
	</p>

	<p>
		<strong> Description: </strong>
		<%= @problem.description %>
	</p>

	<!-- HTML Box -->
	<div class="codeheader" id="codeheader_html"><%= @problem.language.name %></div>
	<div id="codebox">
		<pre><code data-language="<%= @problem.language.name %>"><%= @problem.code %></code></pre>
	</div>

	<% if logged_in? (:admin) %>
		<%= link_to 'Edit', edit_problem_path(@problem), class: "btn btn-orange border-none btn-rounded-corner" %> |
	<% end %>
	<%= link_to 'Back', problems_path, class: "btn btn-white border-none btn-rounded-corner" %>
</div>