<p id="notice"><%= notice %></p>

<p>
  <h3><%= @problem.name %></h3>
</p>

<p>
  <h4><%= @problem.from %></h4>
</p>

<p>
  <%= @problem.description %>
</p>

<div ng-app="MyApp" ng-controller="AppCtrl">
  <!-- HTML Box -->
  <div class="codeheader" id="codeheader_html">{{ html }}</div>
  <div id="codebox">
    <pre><code data-language="html"><%= @problem.code %>
    </code></pre>
  </div>
</div>

<%= link_to 'Edit', edit_problem_path(@problem), class: "btn btn-orange border-none btn-rounded-corner" %> |
<%= link_to 'Back', problems_path, class: "btn btn-white border-none btn-rounded-corner" %>


<br>
<br>