<footer id="footer">
  <div class="container-fluid">
    <!-- Row -->
      <div class="row">
        <div class="col-md-12">
           <!-- footer logo -->
          <div class="footer-logo">
            <%= link_to image_tag('minicon.png'), root_path, method: :get %>
          </div>
          <!-- /footer logo -->
          <!-- footer follow -->
          <ul class="footer-follow">
            <li><%= link_to "<i class=\"ion-social-github\"></i>".html_safe, "www.github.com"%>
            <li><%= link_to "<i class=\"ion-social-github\"></i>".html_safe, "www.github.com"%>
            <li><%= link_to "<i class=\"ion-social-github\"></i>".html_safe, "www.github.com"%>
            <li><%= link_to "<i class=\"ion-social-github\"></i>".html_safe, "www.github.com"%>
            <li><%= link_to "<i class=\"ion-social-github\"></i>".html_safe, "www.github.com"%>
          </ul>
          <!-- /footer follow -->
          <!-- footer copyright -->
          <div class="footer-copyright">
            <p>© 2018 | Minhal Shanjer All rights reserved</p>
          </div>
          <!-- /footer copyright -->
        </div>
      </div>
      <!-- /Row -->
    </div>
    <!-- /Container -->
  </footer>