<section id="about" class="padding-top-90 padding-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-wraper text-center margin-bottom-25">
            <h4>About Me</h4>
            <hr class="heading-devider gradient-orange">
        </div>
      </div>
      <div class="col-md-4 center">
        <%= image_tag "minhalshanjer.jpg", class: "img-responsive profile-border sm-display-small", alt:"" %> <!-- removed sm-display-none class from imgtag -->
      </div>
      <div class="col-md-4 sm-padding-top-60">
        <div class="row">
          <div class="col-md-12 col-sm-12 padding-top-35">
            <h5 class="service-title">Personal</h5>
            <p class="services-content margin-bottom-25 text-size-15px">Hi, I'm Minhal Shanjer. I study computer science at the University of Waterloo. I fell in love with CS ever since I participated in the Canadian Computing Competition (CCC) in Grade 10. I am currently in my second year of university.</p>
          </div>
          <div class="col-md-12 col-sm-12">
            <h5 class="service-title">Tech Interests</h5>
            <p class="services-content margin-bottom-25 text-size-15px">Web Development | Machine Learning | Software Development | Web Scraping | Virtual Reality </p> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 col-sm-12 padding-top-35">
            <h5 class="service-title">Some Fun Courses I've Taken</h5>
            <p class="services-content">
              <i class ="ion-ios-information-outline"> </i><%= link_to "CS246: Object-Oriented Software Development", "https://www.student.cs.uwaterloo.ca/~cs246/" %> <br>
              <i class ="ion-ios-information-outline"> </i><%= link_to "Dissecting Ruby on Rails 5 - Become a Professional Developer", "https://www.udemy.com/professional-rails-5-development-course/" %><br>
              <i class ="ion-ios-information-outline"> </i><%= link_to "Android O & Java - The Complete Android Development Bootcamp", "https://www.udemy.com/android-app-development-with-java/" %><br>
              <i class ="ion-ios-information-outline"> </i><%= link_to "CS136: Elementary Algorithm Design and Data Abstraction", "https://www.student.cs.uwaterloo.ca/~cs136/" %><br>
              <i class ="ion-ios-information-outline"> </i><%= link_to "CS135: Designing Functional Programs", "https://www.student.cs.uwaterloo.ca/~cs135/" %></p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>