<section id="blog-card" class="padding-top-bottom-90">
  <div class="container">
    <div class="heading-wraper text-center margin-bottom-80">
      <h4>latest published</h4>
      <hr class="heading-devider gradient-orange">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b1.png" alt="Card image cap">
          <%= image_tag "b1.png", class: "card-img-top img-responsive max-width-100", alt:"" %>
          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b2.png" alt="Card image cap">  
          <%= image_tag "b2.png", class: "card-img-top img-responsive max-width-100", alt:"" %>

          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b3.png" alt="Card image cap">
          <%= image_tag "b3.png", class: "card-img-top img-responsive max-width-100", alt:"" %>

          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b2.png" alt="Card image cap">  
          <%= image_tag "b2.png", class: "card-img-top img-responsive max-width-100", alt:"" %>

          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b2.png" alt="Card image cap">  
          <%= image_tag "b2.png", class: "card-img-top img-responsive max-width-100", alt:"" %>

          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive max-width-100" src="images/b2.png" alt="Card image cap">  
          <%= image_tag "b2.png", class: "card-img-top img-responsive max-width-100", alt:"" %>

          <div class="card-block">
            <p class="card-text"><small class="text-muted blog-category">web design</small></p>
            <h4 class="card-title">Make your website with best web Tools.</h4>
            <p class="card-text"><small class="text-muted italic">21<sup>st</sup> jun 2016</small></p>
            <p class="card-text">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
            <a href="" class="btn btn-link">read more <span><i class="ion-ios-arrow-thin-right"></i></span> </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> 