<%= form_with(scope: @message, url: message_create_path, local: true) do |form| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |mess| %>
        <li><%= mess %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= @message.errors.full_messages.first if @message.errors.any? %>
  <div class="form-group">
    <%= form.text_field :name, class: "form-control", placeholder:"Full Name (Required)" %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class: "form-control", placeholder:"Email (Required)" %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, class: "form-control", placeholder:"Your Message", rows:"10" %>
  </div>

  <div class="actions">
    <%= form.submit 'Send Message', class: "btn btn-orange border-none btn-rounded-corner width-70" %>
  </div>

<% end %>


