<%= render "introduction" %>
<%= render "services" %>
<%= render "feature" %>
<%= render "cta" %>
<%= render "card" %>
<%= render "testimonial" %>
<%= render "contact" %>
<%= render "footer" %>

<div id="scroll-top-div" class="scroll-top-div">
  <div class="scroll-top-icon-container">
    <i class="ion-ios-arrow-thin-up"></i>
  </div>
</div>
