<p id="notice"><%= notice %></p>


<%= image_tag @project.image unless @project.image.nil? %>


<p>
  <strong>Title:</strong>
  <%= @project.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.Description %>
</p>

<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-orange border-none btn-rounded-corner" %> |
<%= link_to 'Back', projects_path, class: "btn btn-white border-none btn-rounded-corner" %>

<br>
<br>