<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <!-- <p class="alert"><%= alert %></p> -->
    <%= yield %>
    <%= render "shared/footer" %>
    <div id="scroll-top-div" class="scroll-top-div">
    <div class="scroll-top-icon-container">
      <i class="ion-ios-arrow-thin-up"></i>
    </div>
</div>
  </body>
</html>
