<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minhal Shanjer UW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= favicon_link_tag 'myfavicon.png'%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 align="center">Coding Problems</h1>
        <p class="lead", align="center">Fun with tricky problems!</p>
      </div>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <!-- <p class="alert"><%= alert %></p> -->
    <div class="container">
      <%= render 'shared/quicknav' %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>