<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title %> - Coding Problems</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/meta" %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="text-white font-size-80 logo-font" align="center">Coding Problems</h1>
        <p class="lead" align="center">Fun with tricky problems!</p>
      </div>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    
    <!-- <p class="alert"><%= alert %></p> -->
    <div class="container">
      <%= render 'shared/quicknav' %>
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>