<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minhal Shanjer UW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Minhal Shanjer">
    <meta name="description" content="Aspiring to code something magical. Learn all about Minhal and his skill sets, projects, hobbies and much more here!">
    <meta name="keywords" content="computer,science,software,engineer,developer,html5,css,ruby,javascript,jquery,python,java,c++,arduino,uwaterloo,waterloo,university,cs,rails,android,c">
    <meta property="og:title" content="Minhal Shanjer">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.shanjer.ca/projects">
    <meta property="og:description" content="Aspiring to code something magical. Learn all about Minhal and his skill sets, projects, hobbies and much more here!">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'projects', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="text-white" align="center">Projects</h1>
          <p class="lead", align="center">Always striving to create something magical.</p>
        </div>
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      
      <!-- <p class="alert"><%= alert %></p> -->
      <div class="container">
        <%= render 'shared/quicknav' %>
        <%= yield %>
      </div>
      <%= render "shared/footer" %>

  </body>
</html>